src/main/mule/sample-poc-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c0fe44b-0f43-44e6-93a8-a1630ce2667a" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="sample-poc-cicdFlow" doc:id="25d995e8-ad7d-4d86-8511-b143cf06ede2" >
		<http:listener doc:name="Listener" doc:id="afecd24c-e791-4cbb-afe3-a35e88015bb2" config-ref="HTTP_Listener_config" path="/sample">
			<ee:repeatable-file-store-stream />
		</http:listener>
		<set-payload value="#['Hi all, CICD, this will go']" doc:name="Set Payload" doc:id="3074d703-e18a-4a7f-9d71-e6f376597bbe" />
	</flow>
</mule>
